@model Panell.Models.Iletisim
@{
    ViewData["Title"] = "Iletisim";
    Layout = "~/Views/Shared/PanelLayout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>İletişim Güncelleme</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Ana Sayfa</a></li>
                        <li class="breadcrumb-item active">İletişim Güncelleme</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <form asp-action="Iletisim_update" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Genel</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <input type="hidden" name="ID" asp-for="@Model.ID" id="inputName" class="form-control">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputName">Email</label>
                                <input type="text" name="email" asp-for="@Model.email" id="inputName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Telefon</label>
                                <input type="text" name="phone" asp-for="@Model.phone" id="inputName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Telefon 2</label>
                                <input type="text" name="text1" asp-for="@Model.text1" id="inputName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Facebook</label>
                                <input type="text" name="facebook" asp-for="@Model.facebook" id="inputName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Linkedin</label>
                                <input type="text" name="youtube" asp-for="@Model.youtube" id="inputName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Instagram</label>
                                <input type="text" name="instagram" asp-for="@Model.instagram" id="inputName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputName">Twitter</label>
                                <input type="text" name="twitter" asp-for="@Model.twitter" id="inputName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Google</label>
                                <input type="text" name="google" asp-for="@Model.google" id="inputName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Adres</label>
                                <input type="text" name="adres" asp-for="@Model.adres" id="inputName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Maps</label>
                                <input type="text" name="maps" asp-for="@Model.maps" id="inputName" class="form-control">
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <div class="row" style="margin-bottom:20px">
                <div class="col-12">
                    <a href="#" class="btn btn-secondary">Vazgeç</a>
                    <input type="submit" value="İletişim Güncelle" class="btn btn-success float-right">
                </div>
            </div>
        </form>
    </section>
    <!-- /.content -->
    <!-- Main content -->
    <section class="content">
        <form asp-action="logo" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Logo & Favicon</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <input type="hidden" name="ID" asp-for="@Model.ID" id="inputName" class="form-control">
                        <div class="card-body">
                            <div class="form-group">
                                <img style="width: 250px;" class="img-fluid" src="/uploads/@Model.logo" /> <br />
                                <label for="inputDescription">Logo</label>
                                <input type="file" name="dosya" id="inputName" class="form-control">
                            </div>
                            <div class="form-group">
                                <img style="width: 250px;" class="img-fluid" src="/uploads/@Model.favicon" /> <br />
                                <label for="inputDescription">Favicon</label>
                                <input type="file" name="dosya2" id="inputName" class="form-control">
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <div class="row" style="margin-bottom:20px">
                <div class="col-12">
                    <a href="#" class="btn btn-secondary">Vazgeç</a>
                    <input type="submit" value="Güncelle" class="btn btn-success float-right">
                </div>
            </div>
        </form>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
