@model Panell.Models.Sayfalar
@{
    ViewData["Title"] = "Sayfa Güncelle";
    Layout = "~/Views/Shared/PanelLayout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@Model.sayfa_adi</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Ana Sayfa</a></li>
                        <li class="breadcrumb-item active">@Model.sayfa_adi</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    @if (@Model.ID != 10)
    {
    <section class="content">
        <form asp-action="Sayfa_guncel" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Genel </h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <input type="hidden" name="ID" asp-for="@Model.ID" id="inputName" class="form-control">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputName">Sayfa Adı</label>
                                <input type="text" name="sayfa_adi" asp-for="@Model.sayfa_adi" id="inputName"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="main-content-label tx-11 tx-medium tx-gray-600">Sayfa Özet</label>
                                <textarea asp-for="@Model.sayfa_ozet" name="sayfa_ozet"
                                    id="editor.@Model.ID" rows="10" style="width:100%;"></textarea>
                            </div>
                            <script type="text/javascript">
                                CKEDITOR.replace('editor.@Model.ID');
                            </script>
                            <div class="form-group">
                                <label class="main-content-label tx-11 tx-medium tx-gray-600">Sayfa İçerik</label>
                                <textarea asp-for="@Model.sayfa_icerik" name="sayfa_icerik"
                                    id="editor.@Model.ID@Model.ID" rows="10" style="width:100%;"></textarea>
                            </div>
                            <script type="text/javascript">
                                CKEDITOR.replace('editor.@Model.ID@Model.ID');
                            </script>
                            <div class="form-group">
                                <img class="img-fluid" src="/uploads/@Model.sayfa_resim" /> <br />
                                <label for="inputDescription">Sayfa Resim</label>
                                <input type="file" name="dosya" id="inputName" class="form-control">
                            </div>
                            @if (@Model.ID != 8)
                            {
                                <div class="form-group">
                                    <img class="img-fluid" src="/uploads/@Model.sayfa_resimm" /> <br />
                                    <label for="inputDescription">Sayfa Resim (EK)</label>
                                    <input type="file" name="dosya2" id="inputName" class="form-control">
                                </div>
                            }
                            <div class="form-group">
                                <label for="inputName">Sayfa Title</label>
                                <input type="text" name="sayfa_title" asp-for="@Model.sayfa_title" id="inputName"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputName">Sayfa Desc</label>
                                <input type="text" name="sayfa_desc" asp-for="@Model.sayfa_desc" id="inputName"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputName">Sayfa Sıralaması</label>
                                <input type="text" name="sayfa_order" asp-for="@Model.sayfa_order" id="inputName"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <a href="#" class="btn btn-secondary">Vazgeç</a>
                                <input type="submit" value="Güncelle" class="btn btn-success">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </section>
    }


    @if (@Model.ID == 8)
    {

        <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <form asp-action="Yatirimci_alt_kategori" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="sayfa_kategori" value="@Model.ID" id="inputName" class="form-control" />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="inputName">Başlık</label>
                                                    <input type="text" name="sayfa_adi" id="inputName" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="inputName">İçerik</label>
                                                    <input type="text" name="sayfa_ozet" id="inputName" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="inputName">İcon</label>
                                                    <input type="file" name="Dosya" id="inputName" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 20px;">
                                        <div class="col-12">
                                            <input type="submit" value="Oluştur" class="btn btn-success float-right" />
                                        </div>
                                    </div>
                                </form>

                                @foreach (var itemAlt in ViewBag.yatirimci_alt as List<Dsayfalar>)
                                {
                                    @if (@itemAlt.sayfa_kategori == @Model.ID.ToString())
                                    {
                                        <form asp-action="yatirimci_liste_guncel" method="post" enctype="multipart/form-data">
                                            <input type="hidden" name="ID" value="@itemAlt.ID" />
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <label for="inputName">Başlık</label>
                                                            <input type="text" name="sayfa_adi" value="@itemAlt.sayfa_adi" id="inputName" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <label for="inputName">İçerik</label>
                                                            <input type="text" name="sayfa_ozet" value="@itemAlt.sayfa_ozet" id="inputName" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <label for="inputName">İcon</label>
                                                            <img class="img-fluid" src="/uploads/@itemAlt.sayfa_resim" /> <br />
                                                            <input type="file" name="Dosya" id="inputName" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <label for="inputName">Düzenle</label><br />
                                                            <input type="submit" value="Düzenle" class="btn btn-success" />
                                                            <a asp-action="Yatirimci_alt_sil" asp-route-id="@itemAlt.ID" class="btn btn-danger btn-sm">
                                                                <i class="fas fa-trash"></i>
                                                                Sil
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    }
                                }
                            </div>
                        </div>
                    </div>
        </section>
    }

    

    @if (@Model.sayfa_kategori != 10.ToString() && @Model.ID != 8)
    {
   
    <section class="content">
        <form asp-action="Sayfa_kategori" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            @if (@Model.ID == 10)
                            {
                                
                                <h3 class="card-title">Slider Oluştur</h3>
                            }
                            else
                            {
                                <h3 class="card-title">@Model.sayfa_adi /alt sayfa oluştur</h3>
                            }
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <input type="hidden" name="sayfa_kategori" asp-for="@Model.ID" id="inputName"
                            class="form-control">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputName">Sayfa Adı</label>
                                <input type="text" name="sayfa_adi" id="inputName" class="form-control">
                            </div>
                            <div class="form-group">
                                <a href="#" class="btn btn-secondary">Vazgeç</a>
                                <input type="submit" value="Ekle" class="btn btn-success">
                            </div>
                        </div>
                      
                    </div>
                   
                </div>
            </div>
        </form>
    </section>

    <section class="content">
        <form asp-action="Sayfa_kategori" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            @if (@Model.ID == 10)
                            {
                                
                                <h3 class="card-title">Slider</h3>
                            }
                            else
                            {
                                <h3 class="card-title">Alt kategoriler</h3>
                            }
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-striped projects">
                                <thead>
                                    <tr>
                                        <th style="width: 1%">
                                            ID
                                        </th>
                                        <th>
                                            Sayfa Adı
                                        </th>
                                        <th>
                                            Sayfa URL
                                        </th>
                                        <th>
                                            Sayfa Tarih
                                        </th>
                                        <th>
                                            İşlemler
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in ViewBag.sayfalistesi as List<Sayfalar>)
                                    {
                                        @if (@item.sayfa_kategori == Model.ID.ToString())
                                        {
                                            <tr>
                                                <td>
                                                    @item.ID
                                                </td>
                                                <td>
                                                    @item.sayfa_adi
                                                </td>
                                                <td>
                                                    @item.sayfa_slug
                                                </td>
                                                <td>
                                                    @item.sayfa_tarih
                                                </td>

                                                <td class="project-actions text-left">
                                                    <a class="btn btn-info btn-sm" asp-action="Sayfa" asp-route-id="@item.ID">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Düzenle
                                                    </a>
                                                    <a asp-action="Sayfa_sil" asp-route-id="@item.ID"
                                                class="btn btn-danger btn-sm">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Sil
                                                    </a>
                                                </td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                       
                    </div>
                    
                </div>
            </div>
        </form>
    </section>
    
    }
</div>
<!-- /.content-wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>