@{
    ViewData["Title"] =  ViewBag.detay.sayfa_title;
    ViewData["Desc"] =  ViewBag.detay.sayfa_desc;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav class="me-navbar me-navbar-page with-dark-right">
    <div class="container-fluid p-0">
		 <div class="row g-0">
            <div class="col-6">
                <ul class="nav-links left">
                    <li class="logo">
                        <a href="../">
                            <img src="~/uploads/@ViewBag.Iletisim.favicon" alt="logo" class="img-logo" />
                        </a>
                    </li>
                    @foreach (var item in ViewBag.sayfalistesi)
					{
                        if (@item.ID != 1)
                        {
						    <li>
                                @if (ViewBag.currentUrl == "/" + @item.sayfa_slug)
								{
									<a href="/@item.sayfa_slug" class="link active">@item.sayfa_adi</a>
								}
								else
								{
									<a href="/@item.sayfa_slug" class="link">@item.sayfa_adi</a>
								}
                            </li>
                        }
					}
                    @if (ViewBag.currentUrl == "/iletisim")
					{
						<li><a href="/iletisim" class="link active">İletişim</a></li>
					}
					else
					{
					    <li><a href="/iletisim" class="link">İletişim</a></li>
					}
                </ul>
            </div>

            <div class="col-6">
                <ul class="nav-links right">
                    @if (ViewBag.currentUrl == "/yatirimci-gorusu-endeksi")
					{
						<li><a href="/yatirimci-gorusu-endeksi" class="link active">@ViewBag.yatirimci_gorusu_endeksi.sayfa_adi</a></li>
					}
					else
					{
					    <li><a href="/yatirimci-gorusu-endeksi" class="link">@ViewBag.yatirimci_gorusu_endeksi.sayfa_adi</a></li>
					}
                    @if (ViewBag.currentUrl == "/yapim-asamasinda")
					{
						<li><a href="/yapim-asamasinda" class="link active">Sanayicinin Nabzı Endeksi</a></li>
					}
					else
					{
					    <li><a href="/yapim-asamasinda" class="link">Sanayicinin Nabzı Endeksi</a></li>
					}
                    
                    
                    <li>
                        <a href="javascript:void(0)" id="jsSearchOpen" class="link search">
                            <img src="~/site_assets/assets/img/icons/search-white.svg" alt="Ara" />
                        </a>
                    </li>
                </ul>
                <ul class="nav-links right mobile">
                    <li>
                        <a href="javascript:void(0)" id="jsSearchOpen2" class="link search">
                            <img src="~/site_assets/assets/img/icons/search-white.svg" alt="Ara" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" id="jsOffcanvasOpen" class="link search">
                            <img src="~/site_assets/assets/img/icons/hamburger.svg" alt="Ara" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
	</div>
</nav>

@Html.Partial("Head")

<div class="me-bg-darker me-1400-100">
    <div class="me-area-content left">
        <div class="content-area">
            <div class="fullwidth">
                <div class="content">
                    <div class="me-new-page">
                        <div class="new-content">
                            <div class="details">
                                <span style="font-weight:500">
                                    <img src="~/site_assets/assets/img/icons/calendar-gray.svg" alt="calendar" />
                                    @ViewBag.detay.sayfa_tarih
                                </span>
                                @* <span>
                                    <img src="~/site_assets/assets/img/icons/eye-gray.svg" alt="calendar" />
                                    532 Okunma
                                    </span> *@
                            </div>

                            <h1 class="blog-title">@ViewBag.detay.sayfa_adi</h1>

                            <img src="/uploads/@ViewBag.detay.sayfa_resim" alt="" class="w-100" />
                            <p>
                                @Html.Raw(ViewBag.detay.sayfa_icerik)
                            </p>
                        </div>


                        <img src="~/site_assets/assets/img/haberler-text.svg" alt="haberler" class="mb-5" />

                        <div class="swiper-with-buttons mb-5">
                            <div class="swiper me-swiper-mini-news">
                                <div class="swiper-wrapper">
                                    @foreach (var item in ViewBag.Haberler as List<Sayfalar>)
                                    {
                                        if (@item.ID != @ViewBag.detay.ID)
                                        {
                                            <div class="swiper-slide">
                                                <div class="me-news-mini">
                                                    <span class="date" style="font-weight:500">
                                                        <img src="~/site_assets/assets/img/icons/calendar-blue.svg" alt="calendar" /> 
                                                        @item.sayfa_tarih
                                                    </span>
                                                    <h3 class="title">@item.sayfa_adi</h3>
                                                    <a href="/Haber/@item.ID" class="link" style="font-weight:500">Daha Fazla 
                                                        <img src="~/site_assets/assets/img/icons/arrow-right-orange.svg" alt="right" />
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="me-sb-prev me-sb" id="me-sb-prev2">
                                <img src="~/site_assets/assets/img/icons/swiper-button-prev.svg" alt="prev" />
                            </div>

                            <div class="me-sb-next me-sb" id="me-sb-next2">
                                <img src="~/site_assets/assets/img/icons/swiper-button-prev.svg" alt="next" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="margin"></div>
    </div>
</div>
