@using Microsoft.AspNetCore.Http;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yönetim Paneli</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/panel_assets/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/panel_assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/panel_assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/panel_assets/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/panel_assets/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/panel_assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/panel_assets/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/panel_assets/plugins/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="~/panel_assets/panel.css">
    <script src="~/panel_assets/ckeditor/ckeditor.js"></script>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/panel_assets/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60"
                 width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a asp-action="Ayarlar" asp-route-id="@(Context.Request.Cookies["user_id"])">
                            <span class="dropdown-item dropdown-header"> @User.Identity.Name</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="/Panel/Logout" class="dropdown-item dropdown-footer">Çıkış Yap</a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/panel" class="brand-link">
                <img src="~/panel_assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo"
                     class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Panel</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/panel_assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">
                            @User.Identity.Name
                        </a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-header">Tasarımcı</li>
                        @* <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Sayfa Yönetimi
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("sayfa_olustur", "panel")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Sayfa Oluştur</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("sayfa_listesi", "panel")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Sayfalar</p>
                                    </a>
                                </li>
                            </ul>
                        </li> *@
                        <li class="nav-item">
                            <a href="@Url.Action("chart_yonetimi", "panel")" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>Grafik - Chart Yönetimi</p>
                            </a>
                        </li>                
                       
                        <li class="nav-item">
                            <a asp-action="Ayarlar" asp-route-id="@(Context.Request.Cookies["user_id"])" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Ayarlar
                                </p>
                            </a>
                        </li> 
                        
                        <li class="nav-item">
                            <a asp-action="Iletisim" asp-route-id="1" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    İletişim
                                </p>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="@Url.Action("mesajlar", "panel")" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Mesajlar
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("temsilci", "panel")" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Temsilci
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-action="Sayfa" asp-route-id="10" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Slider
                                </p>
                            </a>
                        </li>


                        <li class="nav-header">Dinamik</li>


                        @foreach (var item in ViewBag.sayfalistesi as List<Sayfalar>)
                        {
                            @if (@item.sayfa_kategori == null && @item.ID != 10)
                            {
                                <li class="nav-item">
                                    <a asp-action="Sayfa" asp-route-id="@item.ID" class="nav-link">
                                        <i class="nav-icon fas fa-table"></i>
                                        <p>
                                            @item.sayfa_adi
                                        </p>
                                    </a>
                                </li>
                            }
                        }
                        

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        @RenderBody()

        @* <footer class="main-footer">
            <strong>2022</strong>
        </footer> *@

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/panel_assets/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/panel_assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/panel_assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/panel_assets/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/panel_assets/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/panel_assets/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/panel_assets/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/panel_assets/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/panel_assets/plugins/moment/moment.min.js"></script>
    <script src="~/panel_assets/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/panel_assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/panel_assets/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/panel_assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/panel_assets/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/panel_assets/dist/js/pages/dashboard.js"></script>
</body>

</html>
